header {
    border: 3px solid black;
    font-family: fantasy;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    height: 300px;
    width: 80%;
}

.underscore, .right, .wrong {
    border: 3px solid black;
    font-size: 100px;
    text-align: center;
    margin: 25px auto;
    margin-top: 2%;
    height: 150px;
    width: 80%;
}

.right, .wrong {
    font-size: 40px;
    margin: 0 auto;
    margin-top: 2%; 
}

.hangman_game{
    margin-top: 2%;
}

.random_colors {
    font-size: 50px;
    margin-bottom: 5%;
}

.wins_score, .losses_score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}


